@use 'index';

.App {
  @include index.column($height: inherit, $width: inherit);
  position: relative;
}

.container {
  @include index.column($height: inherit, $width: 90%);
  position: relative;
  margin: 5%;
}