$primaryColor: #0E6EC5;
$primaryColorAlt: #0ec5c2;
$secondaryColor: white;
$darkColor: rgb(12, 12, 12);
$darkSecondary: rgb(58,58,58);
$successColor: green;
$warningColor: yellow;
$errorColor: red;

@font-face {
  font-family: Consolas;
  src: url('../fonts/Consolas.ttf');
}

@mixin theme($themePrimary: $primaryColor, $themeSecondary: $secondaryColor) {
  background: $themePrimary;
  color: $themeSecondary;
}

@mixin row($height: 100%, $width: 100%) {
  display: flex;
  flex-direction: row;
  height: $height;
  width: $width;
  flex-wrap: wrap;
}

@mixin column($height: 100%, $width: 100%) {
  display: flex;
  flex-direction: column;
  height: $height;
  width: $width;
  flex: 1 1 0;
}

@mixin base-container($height: 100vh, $width: 100vw) {
  height: $height;
  width: $width;
  position: relative;
  padding: 0;
  margin: 0;
}


html {
  @include base-container;
  font-family: Consolas;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  @include base-container($height: inherit, $width: inherit);
}

#root {
  @include base-container($height: inherit, $width: inherit);
}

.row {
  @include row($height: fit-content, $width: 100%);
}

.col {
  @include column($height: inherit, $width: fit-content);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.primary {
  color: $primaryColor;
}

.dark {
  color: $darkColor;
}

.light {
  color: $secondaryColor;
}

.error {
  color: $errorColor
}

.warning {
  color: $warningColor
}

.success {
  color: $successColor
}

.bg-primary {
  @include theme;
}

.bg-dark {
  @include theme($themePrimary: $darkColor, $themeSecondary: $secondaryColor);
}

.bg-light {
  @include theme($themePrimary: $secondaryColor, $themeSecondary: $darkColor);
}

.bg-error {
  background-color: $errorColor
}

.bg-warning {
  background-color: $warningColor
}

.bg-success {
  background-color: $successColor
}

.header-1 {
  font-size: 5rem;
  font-weight: 200;
}

.header-2 {
  font-size: 4rem;
  font-weight: 300;
}

.header-3 {
  font-size: 3.5rem;
  font-weight: 400;
}

.header-4 {
  font-size: 2.75rem;
  font-weight: 500;
}

.header-5 {
  font-size: 2rem;
  font-weight: 600;
}

.text {
  font-size: 1.5rem;
}

.text-large {
  font-size: 2rem;
}

.text-small {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 2.5rem;
}

.caption {
  font-size: 1rem;
  color: $darkSecondary;
}

.caption.dark {
  color: $secondaryColor;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: $primaryColor;
}