@font-face {
  font-family: primaryFont;
  src: url('../fonts/HoltwoodOneSC-Regular.ttf');
}

html {
  font-size: 10px;
  font-family: primaryFont;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  width: inherit;
  height: inherit;
  position: relative;
  padding: 0;
  margin: 0;
}

#root {
  width: inherit;
  height: inherit;
  position: relative;
}

.bg-light {
  background-color: #F9FCEC;
}

.bg-dark {
  background-color: #849E9E;
}

.bg-primary {
  background-color: #8DC1B3;
}

.bg-secondary {
  background-color: #E3865D;
}

.bg-tertiary {
  background-color: #DA4A64;
}

.text-light {
  color: #F9FCEC;
}

.text-light-alt {
  color: #e3e6d8;
}

.text-dark {
  color: #849E9E;
}

.text-dark-alt {
  color: #5a6969;
}

.text-primary {
  color: #8DC1B3;
}

.text-secondary {
  color: #E3865D;
}

.text-tertiary {
  color: #DA4A64;
}

/* width */
::-webkit-scrollbar {
  width: 1.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3e6d8;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #849E9E;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a6969;
}