.Navbar {
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-Home {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: inherit;
  align-items: center;
}

.Navbar-Home:hover {
  font-weight: 800;
}

.Navbar-Logo {
  width: 10rem;
  height: 10rem;
}

.Navbar-Header {
  font-size: 2rem;
  width: 50%;
  text-decoration: none;
}

.Navbar-Links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  height: inherit;
}

.Navbar-Link {
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}

.Navbar-Link.active-light {
  border-bottom: 5px solid #8DC1B3;
  font-weight: 800;
}

.Navbar-Link.active-dark {
  border-bottom: 5px solid white;
  font-weight: 800;
}